CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
resources.qrc
_deps
*.bat
*.ps1
/release
/.vs
/.vscode
/build
/out